* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }

  h1{
    color:#A40062;
  }

  h2{
    color: #A40062;
  }
  
  body {
    font-style: italic;
    font-weight: 200;
    background-color: #f0f6da;
  }
  
  nav { 
    background: #FF69B4;
    height: 80px;
    width: 100%;
  }

  label.logo {
    color: #A40062;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    text-decoration: none;
  }
  
  nav ul {
    float: right; 
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: #A40062;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: 2s;
  }
  
  nav ul li a:hover {
    background-color: rgb(228, 59, 124);
    color: #A40062;
  }

  h3{
    color:#920158;
  }

.page{
  display: flex;
  position: relative;
  left: 30px;
  Top: 20px;
  align-items: center;
  align-content: center; 
  width: 100%;
  background-color: #f0f6da;
}

.espaco{
  display: flex;
  justify-content: center;
  flex-direction:column;
  background-color: #FD34A0;
  border-radius: 5%;
}
  img{
    border-radius: 50%;
    width: 200px;
  }

  .btn{
    background-color: #FF69B4;
    color:#A40062;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 5px;
    padding:5px;
  }
  
  
  
  
  